/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v28-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v28-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* changa-one-regular - latin */
@font-face {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/changa-one-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/changa-one-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/changa-one-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/changa-one-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/changa-one-v16-latin-regular.svg#ChangaOne') format('svg'); /* Legacy iOS */
}

/*************************************************
STYLES GENERAUX
*************************************************/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    background-color: #fdfffc;
    color: #011627;
}

h1, h2, h3 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

p {
    line-height: 1.5;
}

a {
    color: #e71d36;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/*************************************************
ENTÊTE DU SITE
*************************************************/
header {
    text-align: center;
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

header .nom {
    color: #2ec4b6;
    font-size: 1.75rem;
    font-family: 'Changa One', cursive;
    font-weight: 400;
    line-height: 0.8;
    margin: 1rem 0; /* 1rem haut/bas et 0 gauche/droite */
}

header .metier {
    margin-top: -5px;
    font-weight: bold;
}

header nav {
    padding: 10px 0;
    margin: 20px 0 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
}

header nav ul li {
    display: inline;
}
/* Cache le li accueil */
header nav ul li.accueil {
    display: none;
}

header nav ul li a {
    color: #fdfffc;
    font-weight: bold;
    padding: 15px 10px;/* 15px haut/bas et 10px gauche/droite */
    transition: color .5s;
}

header nav ul li a:hover {
    color: #2ec4b6;
}














